<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.exitedcode.mvpdemo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 需要联网权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 需要SDCard权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 需要设备信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 播放控制权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 系统配置改变权限 -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <!-- 需要短信权限 -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.exitedcode.mvpdemo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>